@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-main: #396aff;
    --bg: #abe4d12c;
    --bg2: #dce5ff;
    --main-accent: #e9eefd;
    --main-text: #4b5876;
    --shadow: rgba(17,17,26,0.1) 2px 2px 16px;
}

.board-container{
    margin-right: 30px;
}
.board{
    width: auto;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.board h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--main-text)
}
.board h3{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: var(--main-text)
}
.board p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #787d8d;
}
.people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background:#F9FAFB ;
    text-align: start;
    padding: 15px;
    color: var(--color-main);
}

tbody tr td{
    padding: 10px 15px;
}
tbody tr:nth-child(even) {
    background-color:#0000000b ;
}

.search_row{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 30px  30px ;
    border-radius: 5px;
}
.col{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 7px;
}
.search{
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
}
.sort{
    font-size: 13px;
}

.new_patient p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 199, 121);
    color: var(--color-main);
    border-radius: 20px;
    height: 39px;
    width: 130px;
}

.row1{
    margin-left: 10px;
}
.pagination a {
    color: black;
    float: left;
    padding: 6px 14px;
    text-decoration: none;
  }
  

  .pagination a.active {
    background: #f1f1f1;
    color: #396aff;
}
  