<h1>Nowa wizyta</h1>

<form action="" method="post">

    <div class="board-container">
        <div class="forms ">
            <button class="button-34" role="button">Dodaj opis wizyty</button>
                <div class="input-field">
                    <label for="">Opis wizyty</label>

                    <label for="">Data odbytej wizyty</label>
                    <input type="date" name="visitdone" id="visitdone" >
                    <input type="text" name="visitSubsc" id="visitSubsc" >
                  
                </div>
        </div>
    </div>
        
    
</form>   