<h1>Nowa wizyta</h1>

<form action="" method="post">

    <div class="board-container">
        <div class="form ">
            <button class="button-34" role="button">Dodaj opis wizyty</button>
                <div class="input-field">
                    <label for="">Opis wizyty</label>
                    <textarea name="visitSubsc" id="visitSubsc" class="text-field" cols="30" rows="10"></textarea>
                </div>
        </div>
    </div>
        
    
</form>   