<h1>edytuj wizyte </h1>

<form method="post">

    <div class="board-container">
        <div class="forms ">
            <button class="button-34" role="button">Edytuj opis wizyty</button>
                <div class="input-field">
                    <label for="">Opis wizyty</label>

                    <label for="">Data odbytej wizyty</label>
                    <input type="date" name="visitdone" id="visitdone" >
                    <textarea name="visitSubsc" id="visitSubsc" class="text-field" cols="30" rows="10"></textarea>
                </div>
        </div>
    </div>
        
    
</form>   